{% extends 'base.html' %}
{% block head %}
  <title>indice</title>
{% endblock %}
{% block body %}
  <header>
    <h3>Aste disponibili:</h3>
  </header>

  <section>
    {% if latest_auctions_list %}
        <ul>
        {% for auction in latest_auctions_list %}
            <li><a href="{% url 'aste:dettagli' auction.id %}"> {{ auction.descrizione }} </a></li>
        {% endfor %}
        </ul>
        {% comment %} pagination section {% endcomment %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">precedente</a>
                    {% endif %}

                    <span class="current">
                        Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">successiva</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>Non sono disponibili aste.</p>
    {% endif %}

    </br>
    <h4>Filtra per:</h4>
    <form method="get">
      {% csrf_token %}
      <b>data:</b>
      <input type="checkbox" name="data_inizio__lt" value="timezone.now()">scadute</br>
      <span style="margin-left:3em"><input type="checkbox" name="data_inizio__date" value="timezone.localdate()">oggi</span></br>
      <span style="margin-left:3em"><input type="checkbox" name="data_inizio__gt" value="timezone.now()">prossimamente</span></br>
      </br>
      <b>prezzo:</b>&nbsp;&nbsp;
      <input type="radio" name="prezzo" value="0-inf"> qualsiasi</br>
      <span style="margin-left:5em"><input type="radio" name="prezzo" value="0-50"> &euro; 0 - &euro; 50</br>
      <span style="margin-left:5em"><input type="radio" name="prezzo" value="50-200"> &euro; 50 - &euro; 200</span></br>
      <span style="margin-left:5em"><input type="radio" name="prezzo" value="200-500"> &euro; 200 - &euro; 500</span></br>
      <span style="margin-left:5em"><input type="radio" name="prezzo" value="500-inf"> > &euro; 500</span></br>
      </br>
      <input type="submit" value="Filtra" onclick="save()">

    </form>
  </section>

  <!-- TODO:  controlla il load dalla sessione-->
  <script type="text/javascript">
    if (typeof(Storage) !== "undefined") {
      var i;
      var checkboxes = document.querySelectorAll('input[type=checkbox]');
      var radios = document.querySelectorAll('input[type=radio]');

      function save(){
        for (i = 0; i < checkboxes.length; i++){
          sessionStorage.setItem(checkboxes[i].name, checkboxes[i].checked);
        }
        sessionStorage.setItem(document.querySelector('input[name=prezzo]:checked').name, document.querySelector('input[name=prezzo]:checked').value)
      }

      function ld(){
        for (i = 0; i < checkboxes.length; i++){
          checkboxes[i].checked = sessionStorage.getItem(checkboxes[i].value) == 'true' ? true:false;
        }
        for(i = 0; i < radios.length; i++){
          if(radios[i].value == sessionStorage.getItem["prezzo"].value){
              radios[i].checked = true;
          }
        }
      }
      window.onload = ld;
    }
  </script>

  </br></br>
  <footer>
    <a href="{% url 'aste:creaAsta' %}"> Crea una nuova asta </a></br>
    <a href="{% url 'main_page' %}"> Home </a>
  </footer>
{% endblock %}
