{% extends 'base.html' %}
{% block head %}
  <title>progetto_A</title>
{% endblock %}
{% block body %}
  <header>
    <h1>Sito di Aste on-line</h1>
  </header>

  <section>
    <p>
      Benvenuto sul sito di aste, di seguito troverai una lista di link con cui poter navigare il sito.</br>
      Chiunque può navigare il sito, con la differenza che gli utenti non registrati possono solamente guardare le este disponibili.
    </p>
    <ul>
        {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login' %}"> Login </a></li>
        {% endif %}
        <li><a href="{% url 'aste:indice' %}"> Indice aste disponibili </a></li>
        <li><a href="{% url 'storico' %}"> Pagina personale </a></li>
        {% if request.user.is_superuser or request.user.is_staff %}
          <li><a href="{% url 'admin:index' %}"> Amministrazione </a></li>
        {% endif %}
    </ul>

    {% if request.user.is_authenticated %}
      <p> grazie per avere effettuato l'accesso {{ request.user.username | capfirst }}, premere
      <a href="{% url 'logout' %}"> Logout </a> per uscire. </p>
    {% endif %}
  </section>

  </br></br></br>
  <footer>
    <span>Simone Cavana - Unimore </span></br>
    <span>&copy; 2018, Django</span>
  </footer>
{% endblock %}
